body {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: "微软雅黑";
}

.btn {
    text-transform: none;
}

/*标签相关样式*/
.tag-cloud .btn {
    margin-bottom: 6px;
    margin-right: 5px;
}

.tag-cloud .tag:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 12px;
}
.tag-cloud>.row>.btn-group>.tag:not(:last-child):not(.dropdown-toggle) {
    border-radius: 12px;
}
.tag-cloud>.row>.btn-group>.tag:last-child:not(:first-child):not(.dropdown-toggle) {
    border-radius: 12px;
}

.tag-cloud .new:last-child:not(:first-child){
    border-radius: 4px;
}

.tag-cloud .type {
    border-radius: 0;
}

span.label {
    border-radius:12px;
}

/*ng-show 加入 fadeIn 效果*/
.ng-hide-add-active {
    display: block!important;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.ng-hide-remove-active {
    display: block!important;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.ng-hide {
    opacity: 0;
}

/*加入alert-default样式*/
.alert-default {
    background-color: white;
    color: #928C8C;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.alert-default a:not(.close).alert-link {
    color: rgba(2, 166, 35, 0.71);
    font-weight: bold;
}

.panel-footer {
    overflow: hidden;
}

/**recoder*/
.recoder {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 30px;
}

.recoder-title {
    margin-bottom: 23px;
}
.recoder-title legend{
    margin-bottom: 10px;
    font-size: 30px;
}
.recoder-title legend>span {
    margin-right: 15px;
    font-size: 19px;
}
.recoder-title .btn-group {
    float:right;
    margin-top: 15px;
}

.recoder-body {
    margin-top: 15px;
    min-height: 300px;
}

.recoder-foot {

}

.input-group-addon {
    border: 0 solid #2196f3;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 #ddd;
}
.input-group-addon:hover {
    color: #080808;
    box-shadow: inset 0 -2px 0 #cdcdcd;
    cursor: pointer;
}
.input-group-addon-love {
    box-shadow: inset 0 -2px 0 #2196f3;
}
.input-group-addon-love:hover {
    box-shadow: inset 0 -2px 0 #2684d9;
}