body {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: "微软雅黑";
}
h3 {
    margin-top:0;
}
.btn {
    overflow: hidden;
}
.well {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.container-fluid {
    margin-top: 10px;
}

.btn {
    text-transform: none;
}

/*标签相关样式*/
.tag-cloud .btn, .type-cloud-e .btn-group .btn {
    margin-bottom: 6px;
    margin-right: 5px;
}

.tag-cloud .tag, .tag-cloud .tagnew{
    color: #606060;
    background-color: #fcfcfc;
    vertical-align: top;
    border: 1px solid #ccc;
    padding: 1px 8px 1px;
    box-shadow: none;
}
.tag-cloud .tags .btn.active {
    color: #fff;
    border-color: #2dbe60;
    background-color: #2dbe60;
}

.tag-cloud .tag:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 4px;
}
.tag-cloud>.row>.btn-group>.tag:not(:last-child):not(.dropdown-toggle) {
    border-radius: 4px;
}
.tag-cloud>.row>.btn-group>.tag:last-child:not(:first-child):not(.dropdown-toggle) {
    border-radius: 4px;
}

.tag-cloud .new:last-child:not(:first-child), .tag-cloud .tagnew:last-child:not(:first-child){
    border-radius: 4px;
}

.type-cloud .btn-group .btn:last-child, .type-cloud .btn-group .btn:first-child,
.type-cloud-e .btn-group .btn:last-child, .type-cloud-e .btn-group .btn:first-child{
    border-radius: 0;
}

.type-cloud {
    display: flex;
}
.type-cloud>.btn-group {
    display: flex;
    flex-wrap: wrap-reverse;
}
.type-cloud>.edit>.btn {
    position: absolute;
    bottom: 0;
    right: 15px;
    border-radius: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

span.label {
    border-radius:4px;
    padding: 4px;
}

.tag-cloud span.label {
    padding: 4px 6px;
}

/*ng-show 加入 fadeIn 效果*/
.ng-hide-add-active {
    display: block!important;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.ng-hide-remove-active {
    display: block!important;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.ng-hide {
    opacity: 0;
}

/*加入alert-default样式*/
.alert-default {
    background-color: white;
    color: #928C8C;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.alert-default a:not(.close).alert-link {
    color: rgba(2, 166, 35, 0.71);
    font-weight: bold;
}

.panel-footer {
    overflow: hidden;
}

/**recoder*/
.recoder {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    padding: 30px;
}

.recoder-title {
    margin-bottom: 23px;
}
.recoder-title legend{
    margin-bottom: 10px;
    font-size: 30px;
}
.recoder-title legend>span {
    margin-right: 15px;
    font-size: 19px;
}
.recoder-title .btn-group {
    float:right;
    margin-top: 15px;
}

.recoder-body {
    margin-top: 15px;
    min-height: 300px;
}

.recoder-foot {

}

.input-group-addon {
    border: 0 solid #2196f3;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 #ddd;
}
.input-group-addon:hover {
    color: #080808;
    box-shadow: inset 0 -2px 0 #cdcdcd;
    cursor: pointer;
}
.input-group-addon-love {
    box-shadow: inset 0 -2px 0 #2196f3;
}
.input-group-addon-love:hover {
    box-shadow: inset 0 -2px 0 #2684d9;
}

.recoder-body p, .note-editor p{
    margin: 0;
}

.note-editor {
    border: 1px solid rgba(169, 169, 169, 0.49);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.note-toolbar .btn {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}