<style>
    .h3 {
        margin-top:0px;
    }
</style>
<div class="container">
    <form class="col-md-9">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" ng-class="{'true':'input-group-addon-love'}[recoder.love]" ng-click="recoder.love = !recoder.love">
                    <span class="glyphicon" ng-class="{'true':'glyphicon-heart', 'false':'glyphicon-heart-empty'}[recoder.love]" aria-hidden="true"></span>
                </span>
                <input type="text" class="form-control" placeholder="别忘了标题..."  ng-model="recoder.title">
            </div>
        </div>

        <div class="tag-cloud">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12 btn-group">
                    <label class="tag btn btn-sm btn-{{tag.className || 'default'}}" ng-repeat="tag in tags"
                           ng-model="tagCheck[tag.id]" btn-checkbox ng-bind="tag.tagName"></label>
                    <button type="button" class="new btn btn-default btn-sm" ng-click="openTag()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div id="summernote"></div>
        </div>
        <button class="btn btn-success" type="button" ng-click="add()">新增</button>
        <a class="btn btn-default" type="button" href="/recoder">取消</a>
    </form>

    <div class="col-md-3 tag-cloud">
        <h3 ng-click="typeShow = !typeShow">分类</h3>
        <div class="row" collapse="typeShow">
            <div class="col-md-12 btn-group">
                <label class="type btn btn-{{type.className || 'default'}}" ng-repeat="type in types"
                       ng-model="recoder.recoderType" btn-radio="{{type.id}}" ng-bind="type.typeName"></label>
                <button type="button" class="new btn btn-default" ng-click="openType()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/summernote.min.js"></script>
<script src="/static/js/summernote-zh-CN.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#summernote').summernote({
            lang: 'zh-CN',
            height: 300,                 // set editor height

            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor

            focus: true,                 // set focus to editable area after initializing summernote

            fontNames: [
                'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New',
                'Helvetica Neue', 'Helvetica', 'Impact', 'Lucida Grande',
                'Tahoma', 'Times New Roman', 'Verdana', '微软雅黑'
            ],
            lineHeights: ['0.4', '0.6', '0.8', '1.0', '1.2', '1.4', '1.6', '2.0', '3.0']
        });
    });

</script>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{target.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="名称..." ng-model="result.name">
        </div>
        <div class="form-group">
            <label>选个搭配的颜色吧</label>
        </div>
        <div class="tag-cloud btn-group">
            <label class="type btn btn-{{className || 'default'}}" ng-repeat="className in target.classNames"
                   ng-model="result.className" btn-radio="'{{className}}'" style="width:40px;height:30px"></label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">新建</button>
    </div>
</script>
