<div class="container" id="top">
    <div class="row">
        <div class="col-md-10">
            <div class="tag-cloud well">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="搜索..." ng-model="query.keyword">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="queryData()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row " style="margin-top:10px;">
                    <div class="col-md-12 btn-group">
                        <label class="tag btn btn-sm btn-default" ng-model="tagCheck[0]" btn-checkbox>无</label>
                        <label class="tag btn btn-sm btn-{{tag.className || 'default'}}" ng-repeat="tag in tags"
                               ng-model="tagCheck[tag.id]" btn-checkbox ng-bind="tag.tagName"></label>
                    </div>
                </div>
            </div>
            <div class="row masonry-container" masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile"}'>
                <div class="col-md-3 tile" masonry-tile ng-repeat="recoder in recoderList">
                    <div class="panel panel-{{typeMap[recoder.recoderType].className || 'default'}}">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{recoder.title}}<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></h4>
                        </div>
                        <div class="panel-body" style="overflow: hidden;" ng-bind-html="recoder.content | trustHtml">
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{recoder.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</label>
                                </div>
                            </div>
                            <span class="mr5 label" ng-class="'label-' + tagMap[tagId].className" ng-repeat="tagId in recoder.tagList">{{tagMap[tagId].tagName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-default text-center" ng-show="endLoad">
                已经到底啦～
                <a href="javascript:void(0)" class="alert-link" ng-click="turnTop()">返回顶部</a>
            </div>
            <div class="alert alert-default text-center" ng-show="loading">
                努力加载中...
            </div>
        </div>
        <div class="col-md-2">
            <a href="/recoder/add" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <h3 ng-click="typeShow = !typeShow">分类</h3>
            <div class="row tag-cloud" collapse="typeShow">
                <div class="col-md-12 btn-group">
                    <label class="type btn btn-default" ng-model="query.recoderType" btn-radio="null">全部</label>
                    <label class="type btn btn-{{type.className || 'default'}}" ng-repeat="type in types"
                           ng-model="query.recoderType" btn-radio="{{type.id}}" ng-bind="type.typeName"></label>
                </div>
            </div>
        </div>

    </div>

</div>



